@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  font-size: 1rem;
}

html,
body {
  height: 100%;
  background: #35e849;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEUlEQVQImWNgIAO4/PuPzAUAHxcCQnp8mOEAAAAASUVORK5CYII=) repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEUlEQVQImWNgIAO4/PuPzAUAHxcCQnp8mOEAAAAASUVORK5CYII=), linear-gradient(45deg, #35e849 0%, #0042fe 100%);
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  overflow: hidden;
}

.main {
  margin: auto;
  display: flex;
  width: 75vw;
  height: 75vh;
}

.destra, .sinistra {
  margin: auto;
  width: 50%;
  height: 100%;
}

.sinistra {
  position: relative;
  background: transparent;
}

.blocco-titolo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img-profilo {
  display: block;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.title,
.sub-title {
  color: #fff;
  margin: 0;
  text-align: center;
}

.title,
.testo h1 {
  font-size: 3rem;
}

.sub-title {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.blocco-social {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.blocco-social a {
  margin-right: 10px;
  text-decoration: none;
}

.social-icon {
  width: 40px;
}

.destra {
  position: relative;
  border-radius: 1em;
  background: #fff;
}

.testo {
  position: absolute;
  padding: 2em;
  top: 50%;
  transform: translateY(-50%);
}

.testo h1 {
  text-align: center;
  margin: 0;
}

.testo p {
  text-align: justify;
}

.paypal-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {

  body {
    overflow: scroll;
  }

  .destra, 
  .sinistra {
    width: 100%;
    height: 100%;
  }

}
