@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  font-size: 1rem;
}

html,
body {
  height: 100vh;
  background: linear-gradient(45deg, #35e849 0%, #0042fe 100%) fixed;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEUlEQVQImWNgIAO4/PuPzAUAHxcCQnp8mOEAAAAASUVORK5CYII=), linear-gradient(45deg, #35e849 0%, #0042fe 100%);
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  overflow: hidden;
}

.main {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  width: 75vw;
  height: 75vh;
}

.destra, 
.sinistra {
  margin: auto;
  width: 50%;
  min-height: 100%;
}

.sinistra {
  position: relative;
  background: transparent;
}

.blocco-titolo {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
}

.img-profilo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title,
.sub-title {
  color: #fff;
  margin: 0;
  text-align: center;
}

.title,
.testo h1 {
  font-size: 3rem;
}

.sub-title {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.blocco-social {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.blocco-social a {
  text-decoration: none;
}

.social-icon {
  width: 20%;
}

.destra {
  position: relative;
  border-radius: 1em;
  background: #fff;
}

.testo {
  position: absolute;
  padding: 2em;
  top: 50%;
  transform: translateY(-50%);
}

.testo h1 {
  text-align: center;
  margin: 0;
}

.testo p {
  text-align: justify;
}

.paypal-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {

  body {
    overflow-y: scroll;
  }

  .main {
    min-height: 100%;
  }

  .destra,
  .sinistra {
    position: relative;
    width: 90vh;
  }

  .img-profilo {
    width: 100%;
  }

  .title,
  .testo h1 {
    font-size: 1.5rem;
  }

  .sub-title {
    font-size: 1.4rem;
  }

  .testo {
    position: absolute;
    padding: 1rem;
    top: 0;
    transform: translateY(0);
  }

  .testo p {
    text-align: center;
  }

}
